@import "tailwindcss";
@import "@fontsource-variable/geist";

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
}

:root {
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: "Geist Variable", sans-serif;
  }
}
